.addContainer{
	background-image: url(../public/addImage.avif);
    background-color: #071425;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 300px;
    display: flex;
    margin-bottom: 2rem;
}

.infoAddContainer {
	width: 100%;
	height: 100%;
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
.infoAddContainer h3 {
	font-size: 40px;	
}

.infoAddContainer p {
	width: 45%;
	font-size: 20px;
	text-align: center;
}

.infoAddContainer .btnaddContainer{
	margin-top: 1rem;
}



.BtnAdd {
	width: 160px;
	height: 40px;
	border: none;
	border-radius: 9px;
	background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
	background-size: 250%;
	background-position: left;
	color: var(--color-text-Primary);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition-duration: 1s;
	overflow: hidden;
}

.BtnAdd::before {
	position: absolute;
	content: "Ir a la Tienda";
	color: var(--color-text-Primary);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 97%;
	height: 90%;
	border-radius: 8px;
	transition-duration: 1s;
	background-color: #1c0d02;
	background-size: 200%;
	font-size: 1rem;
}	

.BtnAdd:hover {
	background-position: right;
	transition-duration: 1s;
}

.BtnAdd:hover::before {
	background-position: right;
	transition-duration: 1s;
}

.BtnAdd:active {
	transform: scale(0.95);
}