body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}


.root {	
	display: flex;
	justify-content: center;
	width: 100%;
}

.backgroundContainer{
	background-image: url(../public/backgroundCardPage.jpg);
	
}

.mainContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	max-width: 1536px;
	overflow: hidden;
	position: relative;
}


.contentContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 3rem;
}

.backgroundSection {
	width: 100%;
}

.title{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title .logoCards {
	width: 8rem;
}

.title h2{
	text-align: center;
	color:white;
    text-shadow: rgb(97, 67, 38) 2px 0px 0px, rgb(97, 67, 38) 1.75517px 0.95885px 0px, rgb(97, 67, 38) 1.0806px 1.68294px 0px, rgb(97, 67, 38) 0.14147px 1.99499px 0px, rgb(97, 67, 38) -0.83229px 1.81859px 0px, rgb(97, 67, 38) -1.60229px 1.19694px 0px, rgb(97, 67, 38) -1.97998px 0.28224px 0px, rgb(97, 67, 38) -1.87291px -0.70157px 0px, rgb(97, 67, 38) -1.30729px -1.5136px 0px, rgb(97, 67, 38) -0.42159px -1.95506px 0px, rgb(97, 67, 38) 0.56732px -1.91785px 0px, rgb(97, 67, 38) 1.41734px -1.41108px 0px, rgb(97, 67, 38) 1.92034px -0.55883px 0px;
    font-size: 3rem;
	
}

.title span {
	text-align: center;
	color:  rgb(97, 67, 38);
	font-size: 1.6rem;
}

.bodyContainer {
	width: 90%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	border-radius: 2.5rem;
	background-image: url(../public/rug.avif);
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
}

.cardsContainer {
	width: 85%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 8rem  0 8rem 0;
}

.footerContainer {
	background-color: #171717;
}


 

