.backgroundContainer{
	background-image: url(../public/shuhang-01.jpg);
}

.mainContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	max-width: 1536px;
	overflow: hidden;
	position: relative;
}

.contentContainer{
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: end;
	position: relative;
}

.videoViking{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;	
}

.welcome {
	position: relative;
	animation: floatAnimation 1.7s infinite alternate ease-in-out;
	
}

.welcome h2 {
	text-align: center;
	color: white;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.95885px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.14147px 1.99499px 0px, rgb(0, 0, 0) -0.83229px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.70157px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.42159px -1.95506px 0px, rgb(0, 0, 0) 0.56732px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.55883px 0px;
    font-size: 23px;
	position: absolute;
    top: 11%;
    left: 12%;
    z-index: 1; 
    font-weight: inherit;
}

.welcome img {
	max-width: 100%;
    height: auto;
	
}

.welcome .bang {
	width: 500px;
	height: 80px;
	margin-bottom: 2.5rem;
}

.welcome .card{
	position: absolute;
    bottom: 94%;
    left: 15%;
    z-index: -2;
}

.welcome .card2{
	position: absolute;
    bottom: 96%;
    left: 5%;
    z-index: -4;
	
}


.card, .card2 {
  position: relative;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}