@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	--color-text-Primary: #ffd277;
	--btn-height: 60px;
}

::-webkit-scrollbar{
	background-color: #191919;
	height: 0.2rem;
	width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #85784a;
}

::-webkit-scrollbar-track {
    background-color: #191919;
    -webkit-box-shadow: inset 0 0 6px #191919;
}


html,
:root,
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Belwe Bold,Georgia,Times,Times;
}

.rootContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-grow: 1;
}

.backgroundContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -100;
}

.headerContainer {
	width: 100%;
	max-width: 1536px;
	padding: 1rem 4rem 1rem 4rem;
	z-index: 10;
	position: fixed;
}

.BtnComponent {
	width: 100%;
	border: none;
	border-radius: 9px;
	background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
	background-size: 250%;
	background-position: left;
	color: var(--color-text-Primary);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition-duration: 1s;
	overflow: hidden;
}

.BtnComponent::before {
	position: absolute;
	content: attr(data-text);
	color: var(--color-text-Primary);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98%;
	height: 82%;
	border-radius: 8px;
	transition-duration: 1s;
	background-color: #1c0d02;
	background-size: 200%;
	font-size: 1rem;
}	

.BtnComponent:hover {
	background-position: right;
	transition-duration: 1s;
}

.BtnComponent:hover::before {
	background-position: right;
	transition-duration: 1s;
}

.BtnComponent:active {
	transform: scale(0.95);
} 
