@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	--color-text-Primary: #ffd277;
}

html,
:root,
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Belwe Bold,Georgia,Times,Times;
}

.rootContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-grow: 1;
}

.backgroundContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -100;
}

.headerContainer {
	width: 100%;
	max-width: 1536px;
	padding: 1rem 4rem 1rem 4rem;
	z-index: 10;
	position: fixed;
}
